@font-face {
    font-family: LanterosySansSerifFont;
    src: url(/Assests/fonts/LanterosySansSerifFont.ttf);
}
/* html */
* {
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* nav start */
nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: black;
  padding: 0 50px; 
}


.button {
  cursor: pointer;
  position: relative;
  width: 3em;
  height: 3em;
  border: none;
  background: rgb(0, 0, 0);
  padding: 0.5em;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  gap: 0.7em;
  flex-direction: column;
  transition-duration: 0.5s;
}
.button:hover {
  background: rgb(0, 0, 0);
}
.similar-line {
  height: 0.2em;
  background: #fff;
  border-radius: 1em;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.line-1 {
  width: 40%;
}
.line-2 {
  width: 70%;
}
.line-3 {
  width: 90%;
}
.button:hover .line-1 {
  width: 90%;
}
.button:hover .line-2 {
  width: 70%;
}
.button:hover .line-3 {
  width: 40%;
}

.left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.left P{
    color: #fff;
    font-size: 18px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right>a{
    margin-right: 20px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/* Nav end */

/* video */
.main-video> video{
    width: 100%;
}   

.sub-img{
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 21%;
  gap: 20px;

}
.sub-img>img{
    width: 100%;
    box-shadow: inset 20px 20px 20px black;
}
.sub-img h2{
     color: rgb(0, 0, 0);
  
  padding-left: 200px;
  padding-top: 100px;
  position: absolute;
  z-index: 1;
  font-family: Sanseriffic;
  font-size: 3rem;
  margin-right: 850px;
  margin-bottom: 70px;
  font-family: LanterosySansSerifFont;
}
.sub-img p{
  color: rgb(0, 0, 0);
  /* padding: auto; */
  padding-left: 20px;
  padding-top: 150px;
  position: absolute;
  z-index: 1;
  font-family: Sanseriffic;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 400px;
  }