* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
  padding: 0 50px; 
  background-image: radial-gradient(rgb(0, 0, 0));
  
  
}
.left{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
  cursor: pointer;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border: none;
  background: rgb(0, 0, 0);
  padding: 0.5em;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  gap: 0.7em;
  flex-direction: column;
  transition-duration: 0.5s;
}
.button:hover {
  background: rgb(0, 0, 0);
}
.similar-line {
  height: 0.2em;
  background: #fff;
  border-radius: 1em;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.line-1 {
  width: 40%;
}
.line-2 {
  width: 70%;
}
.line-3 {
  width: 90%;
}
.button:hover .line-1 {
  width: 90%;
}
.button:hover .line-2 {
  width: 70%;
}
.button:hover .line-3 {
  width: 40%;
}

.left> img {
    width: 50%;
  height:20px;
  margin-left: 20px;
  transform: scaleX(1.1);
  
}

/* nav left start */
.nav-left{
    display: flex;
    justify-content: center;
   gap: 30px;
   margin-right: 300px;

   
}

.nav-left > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  
}

.nav-left>a:hover{
  color: red;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid red;
  
 }
 .nav-left>svg:hover{
  color: red;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
 }

 /* nav left end  */

 /* nav Right start */

/* From Uiverse.io by TISEPSE */ 

.nav-right { 
  display:flex; 
  justify-content:center; 
  align-items:center;
  gap: 20px; 
}

.nav-right .nav-btn {
  position: relative;
  display: inline-block;
  padding: 8px 25px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
}


.nav-right .nav-btn::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.nav-right .nav-btn:hover::before  {
  transform: scaleY(0);
}

.nav-right .nav-btn::after  {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.nav-right .nav-btn:hover::after {
  transform: scaleX(0);
}

.nav-right .nav-btn span {
  position: relative;
  z-index: 3;
}

.nav-right> button {
  background-color: none;
  text-decoration: none;
  background-color: #212121;
  border: none;
}

.nav-right>.bi{
  color: #fff;
  font-size: 25px;
}

/* Nav end */

.main-img{
    width: 100%;
    
}

.main-img>img{
    width: 100%;
    
}

.sub-text{
    width: 100%;
    display: contents;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.sub-text h2{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.sub-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.sub-img>img{
    border-radius: 50%;
    background-color: #ffffff;
}