*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

section {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Nav start */
nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: rgb(0, 0, 0);
  padding: 0 50px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  color: white;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 250px; 
}

.nav-left img {
  height: 45px;
  background-color: black;
  transform: scaleX(1.1);
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 70px;
  font-size: 1.3rem;
}

nav h3 {
  font-size: 1.2rem;
  /* cursor: pointer; */
}

.bi {
  font-size: 1.5rem;
  /* cursor: pointer; */
}

.bar{
    width: 100%;
    height: 30px;
    background-color: rgb(43, 42, 42);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 10px;
    padding-left: 90px;
    color: white;
    
}

.main-img>img{
    width: 100%;
}