*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

section {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Nav start */
nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: rgb(0, 0, 0);
  padding: 0 50px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  color: white;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 100px; 
}

.nav-left img {
  height: 45px;
  transform: scaleX(1.1);
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 70px;
  font-size: 1.3rem;
}



.bi {
  font-size: 1.5rem;
  /* cursor: pointer; */
}

/* Nav end */

.main-img>img{
    width: 100%;
}

.sub-video{
    width: 100%;
    padding-top: 50px;
    padding-left: 70px;
}

.sub-video>h3{
    color: white;
    font-size: 2rem;
}

.sub-video>p{
    color: white;
    font-size:1rem;
    padding-top: 20px;
}

.main-video{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-video>video{
   width: 22%;
   border-radius: 15px;


}